<!DOCTYPE html>
<html>
<head>
  <title>SOLUÇÕES DE BUCHAS IVPLAST</title>
</head>
<body>
  <h1>SOLUÇÕES DE BUCHAS IVPLAST</h1>

  <form method="POST" action="/login">
    <input name="email" placeholder="Email" required />
    <br><br>
    <input name="password" type="password" placeholder="Senha" required />
    <br><br>
    <button type="submit">Entrar</button>
  </form>

  <br>
  <a href="/register">Cadastrar</a>
</body>
</html>
