<!DOCTYPE html>
<html>
<head>
  <title>Cadastro</title>
</head>
<body>
  <h1>Cadastro</h1>

  <form method="POST" action="/register">
    <input type="text" name="name" placeholder="Nome" required><br><br>
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="password" name="password" placeholder="Senha" required><br><br>

    <button type="submit">Cadastrar</button>
  </form>

  <br>
  <a href="/login">Voltar para login</a>
</body>
</html>
